<section class="contact-hero">
    <div class="container">
        <div class="left-col" style="background-image: url({{module.background_image.url}});">
            <div class="info-box">
                <h2 class="company-title">{{module.company_name}}</h2>
                <a href="{{module.company_address.url}}" class="address">{{module.company_address.title}}</a>
            </div>
        </div>
        <div class="right-col">
            <h1 class="title">{{module.title}}</h1>
            <p class="description">{{module.description}}</p>
            <div class="form-box">

                 {{ function('do_shortcode', '[contact-form-7 id="8461cbf" title="Request"]') }} 
                
            </div>
        </div>
        
    </div>
</section>